.containerBackgroundImage123 {
  background: url("../images/page1/rect1-bg.png") left center no-repeat;

  background-size: 100%;
}

.css-1pnmrwp-MuiTypography-root {
  color: white !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background: rgba(36, 36, 36, 0.8);
}
