.containerBackgroundImage {
  background: url("../images/page1/rect1-bg.png") left bottom no-repeat,
    url("../images/right-gradient-banner.png") right top no-repeat;
  background-size: cover, 180px;
}

.faq_st {
  box-shadow: 0px 10px #262626 !important;
}

.faq_st_light {
  box-shadow: 0px 10px #c2c2c2 !important;
}
@media (max-width: 480px) {
  .font_mobi {
    font-size: 12px !important;
  }
  .font_mobi_mar {
    margin-left: 62% !important;
  }
  .font_mobi_mar2 {
    margin-left: 42% !important;
  }
  .font_mobi_mar3 {
    margin-left: 0 !important;
  }
  .font_mobi_mar4 {
    margin-left: 56% !important;
  }
  .font_mobi_mar5 {
    margin-left: 0% !important;
  }
}
