.containerBackgroundImage112 {
  background: url("../images/page1/rect1-bg.png") left center no-repeat;

  background-size: 100%;
}

.faq_st {
  box-shadow: 0px 10px #262626 !important;
}

.faq_st_light {
  box-shadow: 0px 10px #c2c2c2 !important;
}
