
.bg-app{
    background-color: #182845;
}
.btn-trans{
    background-color: transparent;
    color:white;
}
.toolBar{
    height: 10vh;
    background: #182845;
}
.page1BodyContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #182845;
    height: 90vh;
    padding:2rem 3rem;
    overflow-y: scroll;
}

.color2{
    color:#27ecfe;
}
.rect1{
    background-image: url(../images/page1/landing-bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    background-color: rgba(13, 27, 55, 0.4);
    padding: 1rem 2rem;
}
.launchBtn{
    background-color: #0a3662;
    color:white;
}
.btn-gradient{
    background-color: skyblue;
    background: linear-gradient(to right, #2fabe5, #07518f);
    color:white;
}
.rect2{
    background-image: url(../images/page1/farming-bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
}
.bgDCB{
    background-color: rgba(42, 66, 110, 0.4);
    padding:.5rem;
}
.rect3{
    background-color: #233557;
    background-image: url(../images/page1/hot-farm-bg.png);
    background-position: center;
    background-size: auto;
    border-radius: 24px;
    
    padding: 2rem 2rem;
}
.rect4{
    background-color: rgba(19, 34, 62, 0.4);
    background-image: url(../images/page1/cool-pools-bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    
    padding: 2rem 2rem;
}
.rect5{
    background-color: #13223e;
    /* background-image: url(../images/page1/cool-pools-bg.png);
    background-position: center;
    background-size: cover; */
    border-radius: 24px;
    
    padding: 2rem 2rem;
}
.rect5-item1{
    width: 520px;
    background-color: #172847;
    padding:1rem 2rem;
    display: flex;
    justify-content: space-between;
}
.rect5-item2{
    background-color:#0f1d38;
    padding:1rem 2rem;
    width: 520px;
    justify-content: space-between;
    display: flex;
}