.titleTeam {
  font-size: 20px !important;
}

.css-6s0hr3 {
  padding: 10px 10px !important;
}

.des_fo {
  font-size: 10pt;
}

.containerBackgroundImage23 {
  background: url("../images/team/bg_team.png") no-repeat;
  background-size: 100% 120%;
}

.containerBackgroundImage1 {
  background: url("../images/page1/rect1-bg.png") left center no-repeat;

  background-size: 100%;
}
